[profile.default]
ignored_error_codes = [1878, 5574, 3860, 2394]
evm_version = 'cancun'
solc = '0.8.26'
cache = true
force = false
optimizer = true
optimizer_runs = 1
verbosity = 1
via_ir = false
fuzz = { runs = 1_000 }
test = 'tests'
remappings = [
    '@forge-std/=lib/forge-std/src/',
    # '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
    '@openzeppelin/contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts/',
    '@openzeppelin-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    '@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    '@openzeppelin-foundry-upgrades/=lib/openzeppelin-foundry-upgrades/src/',
    '@solmate/=lib/solmate/src/',
    'solady/src/=lib/solady/src/',
    'solady/test/=lib/solady/test/',
    '@berachain/=lib/contracts/src/',
    '@prb/=lib/prb-test/src/',
    '@forge-safe/=lib/forge-safe/src/'
]
fs_permissions = [{ access = "read-write", path = "./" }]
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]

[profile.ci]
fuzz = { runs = 50 }
verbosity = 4
remappings = [
    '@forge-std/=lib/forge-std/src/',
    # '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
    '@openzeppelin/contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts/',
    '@openzeppelin-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    '@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    '@openzeppelin-foundry-upgrades/=lib/openzeppelin-foundry-upgrades/src/',
    '@solmate/=lib/solmate/src/',
    'solady/src/=lib/solady/src/',
    'solady/test/=lib/solady/test/',
    '@berachain/=lib/contracts/src/',
    '@prb/=lib/prb-test/src/',
    '@forge-safe/=lib/forge-safe/src/'
]

[profile.production]
optimizer = true
optimizer_runs = 100

[profile.production.optimizer_details]
constantOptimizer = true
yul = true

[profile.production.optimizer_details.yulDetails]
stackAllocation = true

[invariant]
# The number of runs that must execute for each invariant test group
runs = 50
# The number of calls executed to attempt to break invariants in one run
depth = 5
# Number of runs to include in the gas report.
gas_report_samples = 256

[rpc_endpoints]
local = "${RPC_URL_LOCAL}"
devnet = "${RPC_URL_DEVNET}"
testnet = "${RPC_URL_TESTNET}"
mainnet = "${RPC_URL_MAINNET}"

[etherscan]
berachain = {key = "${BERASCAN_API_KEY}", url = "https://api.berascan.com/api"}
bepolia = {chain = "80069", key = "verifyContract", url = "https://api.routescan.io/v2/network/testnet/evm/80069/etherscan"}

[fmt]
line_length = 80
int_types = "long"

[doc]
title = "Infrared Smart Contract Documentation"

[lint]
lint_on_build = false
exclude_lints = ["unused-import","screaming-snake-case-immutable","screaming-snake-case-const","mixed-case-variable","mixed-case-function","asm-keccak256"]
ignore = ["tests/**/*","script/**/*","src/voting/**/*"]