name: Harvest base, operators and vaults

on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch: # Allows manual execution

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository to short path
        run: |
          rm -rf /tmp/repo
          git clone --recurse-submodules https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} /tmp/repo

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Mask Secrets
        run: |
          echo "::add-mask::${{ secrets.RPC_URL }}"
          echo "::add-mask::${{ secrets.KEYSTORE_PASSWORD }}"
          echo "::add-mask::${{ secrets.KEYSTORE_BASE64 }}"

      - name: Reconstruct Keystore File
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > /dev/shm/keystore.json
          chmod 600 /dev/shm/keystore.json

      - name: Run Foundry Script
        working-directory: /tmp/repo
        env:
          RPC_URL: ${{ secrets.RPC_URL }}
          PUBKEY: ${{ secrets.PUBKEY }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run: |
          forge script script/InfraredKeeperScript.s.sol:InfraredKeeperScript \
              --sig "harvest(address[])" "[0xDd70A5eF7d8CfE5C5134b5f9874b09Fb5Ce812b4,0xF961a8f6d8c69E7321e78d254ecAfBcc3A637621,0xdE04c469Ad658163e2a5E860a03A86B52f6FA8C8,0x2c4a603A2aA5596287A06886862dc29d56DbC354,0x38fdD999Fe8783037dB1bBFE465759e312f2d809,0xac03CABA51e17c86c921E1f6CBFBdC91F8BB2E6b]" \
              --keystore /dev/shm/keystore.json \
              --password "$KEYSTORE_PASSWORD" \
              --rpc-url "$RPC_URL" \
              --broadcast

      - name: Secure Cleanup
        if: always()
        run: rm -f /dev/shm/keystore.json
