name: pipeline

on:
  pull_request:
  push:
    branches: [main, develop]
    paths:
      - "src/**/*.sol"
      - ".github/workflows/pipeline.yaml"
  workflow_dispatch: # Enable manual triggering

env:
  FOUNDRY_PROFILE: ci

jobs:
  all:
    strategy:
      fail-fast: true

    runs-on: ubuntu-latest
    steps:
      - name: Clone main repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.6

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge fmt --check
        run: |
          forge fmt --check

      - name: Run Forge tests
        run: |
          FOUNDRY_PROFILE=ci forge test -vvv
        id: test
